@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500&family=Ropa+Sans:ital@0;1&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

html,body{
    width:100vw;
    height: 100vh;
    font-size: 10px;
    font-family: 'Ropa Sans', 'Times New Roman';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    
    
}
header .container {
    display: flex;
    justify-content: space-between;
   
}
.logo{
    width: 100%;
    
}
.logo h1 {
    font-size: 5rem;
    color:#777;
}
header .logo h2 {
    font-size: 1.8rem;
    color: #aaa;
}
.logo {
    display: flex;
    align-items: center;
    margin: 30px;
}
.Menu {
    margin: 30px;
    width:50px;
}


main .container-main img{
    display: flex;
    width:80%;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    width: 90%;
    max-width: 980px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
}

.info{
    display:inline-flex;
    
}

.price{
    font-size: 4rem;
    color:#888888;
    word-spacing: 6em;
}

.label1{
    background-color: green;
    color: white;
    border-radius: 10px;
    
}

.label2{
    background-color: gold;
    color:white;
    border-radius: 10px;
}


.text--medium{
    font-size: 1.6rem;
    line-height: 26px;
    font-weight: 400;
    color: #555555;
}

.card{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 5px 5px 15px -4px #000000;
    transition: all 0.3s ease 0s;
}

.card:hover{
    transform: translateY(-7px);
}

.image {
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
}

.image img{
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
}

.content {
    margin:20px;
}

.title{
    margin-bottom:0px;
}



.yourstyle{
    display: block;
    text-align: center;
    padding: 30px;
}

.style{
    margin-top: 10px;
    filter:opacity(70%);
    width:80%;
}

.center{
    transform: translateY(-200%);
    text-align:center;
    font-size:4rem;
    color:white;
}

#label3{
    font-size: 4rem;
    color:#CCCCCC;
}

footer{
    display: flex;
    width:95%;
    justify-content:space-evenly;
    background-color:#333333;
    position: relative;
    z-index: 999;
    margin-left: auto; 
    margin-right: auto; 
    }

footer #map-1{
    width: 40%;
    
}

address .local{
    display:flex;
    width:30%;
    color:white;
    line-height: 1.5;
    font-size:2rem;
    margin-top: 40px;
}

.social-text{
     font-size: 2rem ;   
     color:white;
     justify-content:center;
}

.social{
    display: flex;
    grid-gap: 20px;
    list-style-type: none;
}

.social img{
    width: 40px;
}






